<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://64.media.tumblr.com/8f5c3a888241acd969627b9149921be8/tumblr_o1ayx4ncFd1rfd7lko1_400.gifv);">
  <div class="container-banner">
    <h1>Movie list!</h1>
    <p>Create your watchlist of movies</p>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card" style="background-image: url(<%= cl_image_path list.photo.key %>)">
      <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Add a list', new_list_path %>
